@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    color: #222222;
}

.logo {
    font-family: 'Pacifico', cursive;
}

main {
    margin-top:100px;
}

h2 {
    margin-left:120px;
    margin-bottom:40px;
}